<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maiores quos obcaecati quae consequuntur iure, nisi facere nesciunt reiciendis deleniti ab perspiciatis illo expedita illum, culpa dolor ut consequatur. Ullam minima, praesentium recusandae
    sequi assumenda eos eaque atque! Quia deleniti doloribus, cumque dicta quas adipisci amet numquam asperiores, dolor exercitationem dolorum non odio optio aut totam iusto. Cupiditate, consequatur quos blanditiis tempore sed veritatis exercitationem.
    Nemo atque alias vitae incidunt et natus saepe officiis culpa! Doloribus nobis non cum amet veritatis pariatur eligendi facere quaerat, expedita vero, in, eveniet temporibus commodi repellendus quod quam adipisci? Expedita repudiandae maxime harum
    temporibus reprehenderit sequi alias quaerat veritatis ut perspiciatis voluptatibus repellendus numquam, eveniet voluptates, odit repellat iusto earum qui beatae explicabo laboriosam, inventore vitae? Repellendus reiciendis nam inventore reprehenderit
    rem harum quasi explicabo sint, quibusdam minima tempore quaerat, officia illum odio porro est eius dolores. Dolorum praesentium asperiores officiis excepturi perferendis perspiciatis earum temporibus nihil eos? Praesentium illum repudiandae, magni
    ipsam omnis sequi alias quaerat aliquam, ipsa deleniti harum laboriosam, voluptatem eum mollitia porro a iusto. Itaque fugiat obcaecati delectus libero non? Asperiores, cum facilis facere dicta dolore veniam itaque. Quos dolorum fugiat quod blanditiis
    illo. Nam maxime eum et voluptates sunt?
</p>